.policy-page {
  margin: 20px auto 80px;
  max-width: 700px;
  padding: 0 20px;
  
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }

  ul {
    list-style: disc;
    margin-bottom: 15px;
    padding-left: 30px;
  }

  table {
    margin-bottom: 20px;
  }

  td, th {
    border: 1px solid #444;
    padding: 2px 4px;
  }
}