@import "../utilities/variables";

.product-layout {
  h1 {
    border-bottom: 1px solid #ddd;
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0 10px;

    &.mobile-header {
      margin: 0 0 30px;
    }
  }
}

.product-container {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  padding: 30px 40px 0;
}

.product-details {
  padding: 0 40px;
}

.product-option {
  border-radius: 4px;
  background: #ddd6;
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
  padding: 4px 6px;
}

.product-description {
  margin: 20px 0;

  p {
    margin: 1em 0;
  }

  ul, ol {
    list-style: initial;
    margin: 1em 0;
    padding-left: 20px;
  }
}

.currency-display {
  align-items: center;
  border-top: 1px solid #ddd;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 20px;

  .discounted {
    color: #aaa;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
    text-decoration: line-through;
  }
}

.image-display-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.image-display {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
  width: 500px;
}

.image-thumbnail-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-thumbnail {
  padding: 10px;

  &.selected {
    box-shadow: 0 0 4px 1px $subtle-light;
  }

  &:focus {
    box-shadow: 0 0 4px 2px $subtle-light;
    outline: none;
  }
}

.add-to-cart-button {
  display: block;
  // margin-left: 40px;
  width: 200px;
}

@import "~bulma";

@include desktop {
  .mobile-header {
    display: none;
  }
}

@include touch {
  .product-container {
    flex-direction: column;
    padding-top: 10px;
  }

  .product-details {
    padding: 0;
  
    h1 {
      display: none;
    }
  }

  .product-option {
    margin-top: 20px;
  }
}

@media (max-width: 499px) {
  .image-display-container {
    align-self: center;
    width: 100vw;
  }

  .image-display {
    height: 100vw;
    width: 100vw;
  }

  .add-to-cart-button {
    width: 100%;
  }
}