@import "../../utilities/variables";

.custom-button.add-to-cart-button {
  background: $subtle-light;
  text-transform: uppercase;

  &.remove-from-cart {
    background: $subtle-red;
  }

  &[disabled] {
    opacity: 0.7;
  }
}